*{
  box-sizing: border-box;
  cursor: default;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}

:root {
  scroll-behavior: smooth;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(254, 254, 254);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --Primary-Black: #000;
  --Primary-Neutral: #404040;
  --Primary-White: #fff;
  --Primary-Blue: #007bff;
  --Primary-Red: #ff0019;
  --Primary-Green: #28a745;
  --Primary-Yellow: #ffc107;
  --Primary-Orange: #fd7e14;
  --Primary-Purple: #6f42c1;
  --Zinc-500: #717171;
  --Zinc-400: #8a8a8a;
  --Zinc-300: #a3a3a3;

}

body{
  margin: 0;
  padding: 0;
  background-color: var(--Primary-Black, #000);
  color: var(--Primary-White, #fff);
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  user-select: none;
}

a *{
  cursor: pointer;
}

img{
  user-select: none;
  pointer-events: none;
}

button{
  cursor: pointer;
  user-select: none;
}

input, textarea{
  cursor: text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus{
  -webkit-text-fill-color: var(--Primary-Neutral, #404040) !important;
  -webkit-background-clip: text;
}

#top-button-root{
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 0;
  right: 0;
  margin: 24px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Primary-White, #fff);
  background-color:var(--Primary-Black, #000);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#top-button-root i{
  font-size: 24px;
  cursor: pointer;
}
