.aboutme *::selection{
    background-color: #f38ba4;
    color: #000;

}


@media only screen and (min-width: 768px) {

    .aboutme{
        grid-column: 1 / span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        gap: 0;
        padding: 100px 0;
        min-height: calc(100vh);
        border-radius: 100px;
        background-color: var(--Primary-White, #fff);
        color: var(--Primary-Black, #000);
    }

    .aboutme-graphic{
        grid-column: 2 / span 5;
        grid-row: 1 / span 1;
        background-image: url(../../../public/images/aboutme-graphic.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .aboutme-content{
        grid-column: 7 / span 5;
        grid-row: 1 / span 1;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: left;
        padding: 0 32px;
    }

    .aboutme-title{
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: -1px;
        color: var(--Primary-Black, #000);
        justify-self: start;
        margin: 24px 0;
    }

    .aboutme-title span{
        font-weight: 700;
    }

    .aboutme-text{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        color: var(--Zinc-500, #71717A);
        text-align: justify;
        margin: 24px 0;
    }

}

/* for mobiles and tablets */

@media only screen and (max-width: 1024px) {

    .aboutme{
        grid-column: 1 / span 12;
        width: 100%;
        padding: 40px 16px;
        min-height: calc(100vh);
        border-radius: 50px;
        background-color: var(--Primary-White, #fff);
        color: var(--Primary-Black, #000);
    }
    
    .aboutme-graphic{
        width: 100%;
        height: 320px;
        margin-top: 20px;
        background-image: url(../../../public/images/aboutme-graphic.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .aboutme-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: left;
        padding: 0;
    }
    
    .aboutme-title{
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -1px;
        color: var(--Primary-Black, #000);
        margin: 20px 0;
        padding: 20px 0;
    }
    
    .aboutme-title span{
        font-weight: 700;
    }
    
    .aboutme-text{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        color: var(--Zinc-500, #71717A);
        margin: 20px 0;
    }

}