.navbar *{
    user-select: none;
}
.navbar {
    height: 100px;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    line-height: 24px;
    letter-spacing: -0.4px;
    z-index: 100;
    background-color: var(--Primary-White, #fff);
    color: var(--Primary-Black, #000);
}

.brand-icon {
    grid-column: 2 / span 2;
    justify-self: start;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand-icon span:nth-of-type(1){
    padding: 0;
    margin: auto 0;
    margin-right: 4px; 
    font-size: 32px;
    line-height: 0px;
}

.resume-button {
    grid-column: 10 / span 2;
    justify-self: end;
    display: flex;
    flex-direction: row;
}

.resume-button a:nth-of-type(2){
    border-left: 1px solid var(--Primary-Neutral, #404040);
}

.nav-links {
    grid-column: 5 / span 4;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.nav-links:hover{
    background-color: var(--Zinc-100, #f5f5f5);
}

.nav-links a {
    display: flex;
    align-items: center;
    padding: 0px 18px;
    text-decoration: none;
    color: var(--Primary-Black, #000);
    transition: 0.2s ease-in-out;
}

.nav-links a:hover {
    color: var(--Primary-White, #fff);
    background-color: var(--Primary-Black, #000);
}
