.navbar *{
    user-select: none;
}

@media only screen and (min-width: 1024px) {

    .navbar {
        grid-column: 1 / span 12;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        gap: 0;
        align-content: center;
        justify-content: center;
        line-height: 24px;
        letter-spacing: -0.4px;
        z-index: 100;
        background-color: var(--Primary-White, #fff);
        color: var(--Primary-Black, #000);
    }

    .brand-icon {
        grid-column: 2 / span 2;
        justify-self: start;
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .brand-icon span:nth-of-type(1){
        padding: 0;
        margin: auto 0;
        margin-right: 4px; 
        font-size: 32px;
        line-height: 0px;
    }

    .resume-button {
        grid-column: 10 / span 2;
        justify-self: end;
        display: flex;
        flex-direction: row;
    }

    .button-rectangle{
        display: flex;
        height: 48px;
        background-color: var(--Primary-Black, #000);
        color: var(--Primary-White, #fff);
        font-size: 16px;
        font-family: 'Sora', sans-serif;
        align-items: center;
        padding: 0 16px;
        border: none;
        outline: none;
    }
    
    .button-rectangle:hover{
        background-color: var(--Primary-Neutral, #404040);
    }

    .resume-button a:nth-of-type(2){
        border-left: 1px solid var(--Primary-Neutral, #404040);
    }

    .nav-links {
        grid-column: 5 / span 4;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        text-wrap: nowrap;
    }

    .nav-links a {
        position: relative;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;
        text-decoration: none;
        color: var(--Primary-Black, #000);
    }

    .nav-links a::after{
        display: none;
        content: url(./images/navlink-hover-scribble.png);
        position: absolute;
        transform: scale(1);
        max-width: 100%;
    }

    .nav-links a:hover::after{
        display: block;
    }

    .circle-slide-btn{
        display: none;
    }

}

/* for mobiles and tablets */

@media only screen and (max-width: 1024px) {

    .navbar {
        position: relative;
        grid-column: 1 / span 12;
        padding: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        line-height: 24px;
        letter-spacing: -0.4px;
        z-index: 100;
        background-color: var(--Primary-White, #fff);
        color: var(--Primary-Black, #000);
    }

    .brand-icon {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .brand-icon span:nth-of-type(1){
        padding: 0;
        margin: auto 0;
        margin-right: 4px; 
        font-size: 32px;
        line-height: 0px;
    }

    .resume-button {
        display: flex;
        flex-direction: row;
    }

    .button-rectangle{
        display: flex;
        height: 48px;
        background-color: var(--Primary-Black, #000);
        color: var(--Primary-White, #fff);
        font-size: 16px;
        font-family: 'Sora', sans-serif;
        align-items: center;
        padding: 0 16px;
        border: none;
        outline: none;
    }
    
    .button-rectangle:hover{
        background-color: var(--Primary-Neutral, #404040);
    }

    .resume-button a:nth-of-type(2){
        border-left: 1px solid var(--Primary-Neutral, #404040);
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        padding: 40px 0;
        background-color: var(--Primary-White, #fff);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        text-wrap: nowrap;
        z-index: 100;
        transition: transform 0.5s ease-in-out;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(-300px);
    }

    .nav-links-active {
        transform: translateY(0px);
    }

    .nav-links a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        text-decoration: none;
        color: var(--Primary-Black, #000);
    }

    .circle-slide-btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-bottom: -20px;
        margin-left: -20px;
        width: 40px;
        height: 40px;
        color: var(--Primary-White, #fff);
        border-radius: 50%;
        background-color: #f7a644;
        color: var(--Primary-White, #fff);
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
}