.projects *::selection{
    background-color: #fcf485;
    color: #000;

}
.projects{
    grid-column: 1 / span 12;
    background-color: var(--Primary-Black, #000);
    color: var(--Primary-White, #fff);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0;
    min-height: calc(100vh);
}

.projects-title{
    grid-column: 2 / span 10;
    grid-row: 1 / span 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.projects-title span{
    font-weight: 700;
}

.projects-view{
    grid-column: 2 / span 10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0;
    margin: 32px 0;
}

.projects-view:last-of-type{
    margin-bottom: 84px;
}

.projects-view:nth-of-type(even) .project-description{
    grid-column: 1 / span 7;
    order: 1;
}

.projects-view:nth-of-type(even) .project-image{
    grid-column: 8 / span 5;
    order: 2;
}

.projects-view:nth-of-type(odd) .project-image{
    grid-column: 1 / span 5;
    order: 1;
}

.projects-view:nth-of-type(odd) .project-description{
    grid-column: 6 / span 7;
    order: 2;
}

.project-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 397px;
    margin: 15px;
}

.project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.project-description{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 15px;
    padding: 0 32px;
}

.project-title{
    font-size: 48px;
    font-weight: 800;
    margin: 12px 0;
}

.project-subtitle{
    font-size: 32px;
    font-weight: 700;
    margin: 8px 0;
}

.project-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32;
    color: var(--Zinc-300, #D4D4D8 );
    margin: 8px 0;
}

.project-links{
    margin: 8px 0;
}

.project-links a{
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-left: calc(-24px + 8px);
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.project-links a:hover{
    background-color: #303030
}